<style>
    .background img {
        filter: blur(5px) brightness(50%);
            -webkit-filter: blur(5px) brightness(50%);
            -moz-filter: blur(5px) brightness(50%);
            -o-filter: blur(5px) brightness(50%);
            -ms-filter: blur(5px);
        margin: -5px -10px -10px -5px;

        width: 110%;
        height: 110%;
        object-fit: cover;
    }

    .background {
        overflow: hidden;
        z-index: -999;
        width: 100%;
        height: 100%;
    }

    .login-form {
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 0 60px rgba(0,0,0,0.2);
        width: 390px;
        height: 480px;

        position: absolute;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -270px 0 0 -195px;
    }

    .form-logo {
        background-image: url("static/img/logo.png");

        width: 258px;
        height: 128px;
        margin-left: calc(50% - 258px / 2);
    }

    .form-control {
        width: 80%;
        height: 35px;
        margin-left: 10%;
    }

    .form-control-label {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-left: 10%;
        margin-top: 15px;
    }

    .btn-login-or-register {
        width: 200px;
        margin-top: 30px;
        margin-left: calc(50% - 100px);
    }

    .err-dialog {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;

        z-index: 15;
        position: absolute;
        width: 390px;
        height: 60px;

        top: 50%;
        left: 50%;
        margin: -350px 0 0 -195px;
        border-radius: 16px;
    }
</style>

<div class="background"><img src="static/img/bg.jpg"/></div>

{% if msgs %}
    <div class="alert alert-danger err-dialog" role="alert">
        {{ msgs }}
    </div>
{% endif %}

<div class="login-form">
    <br>
    <div class="form-logo"></div>
    <br>

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email" class="form-control-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password" class="form-control-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-login-or-register">Log in</button>
      <a href="/register">
        <input type="button" class="btn btn-primary btn-login-or-register" style="margin-top: 15px;" value="Create an account">
      </a>
    </form>
</div>