<style>

    .userMiniSettings {
        position: absolute;
        width: 250px;

        z-index: 999;
        left: calc(100% - 280px);
        top: 80px;

        font-size: 18px;
        box-shadow: 0 0 60px rgba(0,0,0,0.2);
        border-radius: 16px;
        background-color: white;
    }

    .settingsForm {
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 0 60px rgba(0,0,0,0.2);
        width: 420px;
        height: 280px;

        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        margin: -140px 0 0 -210px;

        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .btn-context {
        width: 90%;
        margin-left: 5%;
        margin-top: 5px;
        height: 40px;
    }

    .chats {
        position: absolute;
        border: 0 solid #d5d5d5;
        border-right-width: 1px;
        overflow: auto;

        width: 320px;
        max-height: calc(100% - 60px);
        min-height: calc(100% - 60px);
    }

    .current-chat {
        position: absolute;

        width: calc(100% - 320px);
        height: calc(100% - 60px);
        left: 320px;
    }

    .current-chat-empty {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .current-chat-empty-label {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #404040;
    }

    .chat-element {
        position: relative;
        width: 100%;
        height: 100px;
        margin-top: 1px;

        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }

    .chat-element:hover {
        background-color: #f1f1f1;
    }

    .chat-element img {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .chat-element .name {
        position: absolute;
        top: 24px;
        left: 90px;

        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #404040;
    }

    .chat-element .msg {
        position: absolute;
        top: 46px;
        left: 90px;

        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #404040;
    }

    .loading {
        width: 100%;
        height: calc(100% + 60px);
        top: -60px;
        z-index: 9999;
        position: absolute;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loading img {
        position: absolute;
        top: calc(50% - 48px);
    }

    .loading label {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #404040;

        top: calc(50% + 80px);
    }

    .user-icon-context {
        position: absolute;
        margin-top: 10px;
        margin-left: 10%;
    }

    .user-icon-context img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .nameContext {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-top: 20px;
        margin-left: calc(10% + 55px);

        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .msg-chat {
        background-color: #fff;
        box-shadow: 0 0 13px rgba(0,0,0,0.1);
        border-radius: 16px;

        font-family: 'Roboto', sans-serif;
        font-size: 16px;

        padding: 10px 10px 20px 20px;
        margin-top: 20px;
        margin-left: 60px;
        word-break: break-word;
    }

    .msg-chat span {
        position: relative;
        float: right;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #9a9a9a;
        top: -2px;
        right: 4px;
    }

    .reply-msg-chat {
        position: relative;
        margin-top: -39px;
        margin-left: -15px;
        width: 90%;
        color: #9a9a9a;
        word-break: keep-all;
        overflow: visible;
        white-space: nowrap;
        text-overflow: initial;
        background-color: #ffffff;
    }

    .msg-chat img {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        left: -60px;
        margin-top: -30px;
    }

    .reply-message {
        position: absolute;
        width: calc(90% - 70px);
        height: 58px;
        bottom: 100px;
        left: 5%;
        border-radius: 16px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .reply-message-close {
        position: absolute;
        background-image: url("static/img/close18px.png");
        cursor: pointer;
        float: right;
        top: 10px;
        right: 10px;
        width: 18px;
        height: 18px;
    }

    .reply-message p {
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-family: 'Roboto', sans-serif;
        font-size: 16px;

        position: absolute;
        top: 14px;
        left: 70px;
    }

    .reply-message img {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 38px;
        height: 38px;
        border-radius: 38px;
    }

    .current-chat-messages {
        padding: 0 0 50px 0;

        min-height: calc(100% - 262px);
        max-height: calc(100% - 262px);
        overflow: auto;
    }

    .chat-info {
        width: 100%;
        height: 80px;
    }

    .chat-info-img, .chat-info-img-file {
        position: absolute;
        top: 16px;
        left: 64px;
        width: 48px;
        height: 48px;
        border-radius: 48px;
    }

    .user-icon-settings {
        position: absolute;
        width: 58px;
        height: 58px;
        border-radius: 58px;
    }

    .user-icon-settings img {
        position: absolute;
        width: 58px;
        height: 58px;
        left: 1px;
        border-radius: 58px;
    }

    .user-icon-settings-file {
        position: absolute;
        background-color: black;
        width: 58px;
        height: 58px;
        left: 1px;
        border-radius: 58px;
        opacity: 0;
    }

    .chat-info-img-file {
        opacity: 0;
    }

    .chat-info-name {
        position: absolute;
        top: 25px;
        left: 130px;
        width: 300px;
        height: 30px;
        border-radius: 16px;
        border: 0 transparent;
        outline: none;
        background-color: transparent;

        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-indent:10px!important;
    }

    .chat-info-name:focus {
        background-color: #f5f5f5;
        outline: none;
    }

    .message-area {
        position: absolute;
        bottom: 40px;
        width: calc(90% - 70px);
        left: 5%;
        border-radius: 16px;
    }

    .message-area-chars {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #9a9a9a;
        bottom: 17px;
        left: calc(5% + 5px);
    }

    .message-area-send {
        position: absolute;
        bottom: 40px;
        width: 70px;
        float: right;
        right: 4%;
        border-radius: 16px;
    }

    .fullscreen-alertbox {
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 0 60px rgba(0,0,0,0.2);
        width: 420px;
        height: 280px;

        position: absolute;
        z-index: 101;
        top: 50%;
        left: 50%;
        margin: -140px 0 0 -210px;

        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .fullscreen-alertbox img {
        margin-top: 20px;
    }

    .fullscreen-alertbox span {
        position: relative;
        font-weight: 500;
        font-size: 30px;
        top: 20px;
    }

    .fullscreen-alertbox input {
        position: relative;
        top: 60px;
        width: 80%;
        left: 10%;
        border-radius: 16px;
    }

    .fullscreen-alertbox p {
        font-weight: 500;
        font-size: 30px;
        margin-top: 18px;
    }

    .user-icon-settings {
        position: absolute;
        float: left;
        top: 20px;
        left: 30px;
    }

    .nameSettings {
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;

        float: left;
        top: 34px;
        left: 110px;
    }

    .context-menu {
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 0 60px rgba(0,0,0,0.2);
        width: 200px;
        position: absolute;
        z-index: 150;
        font-family: 'Roboto', sans-serif;
    }

</style>

<div class="settingsForm">
    <div class="user-icon-settings">
        <img id="userIconSettings" style="pointer-events: none;">
        <input onchange="uploadUserImage(this)" class="user-icon-settings-file" id="chat-info-img-file" type="file" size="58" accept="image/*">
    </div>
    <script>
        changeUserIcon("{{ userIcon }}", "userIconSettings");
    </script>
    <div class="nameSettings">{{ meList[1] }} {{ meList[2] }}</div>
    <div style="margin-top: 80px;"></div>
    <div style="position: absolute; margin-top: 15px; margin-left: 10%; border-radius: 100px; width: 80%; height: 2px; background-color: #cfcfcf;"></div>
</div>

<div class="fullscreen-alertbox"></div>

<div class="userMiniSettings" id="userMiniSettings">
    <div class="user-icon-context"><img id="userIconContext" style="pointer-events: none;"></div>
    <script>
        changeUserIcon("{{ userIcon }}", "userIconContext");
    </script>
    <div class="nameContext">{{ meList[1] }} {{ meList[2] }}</div>
    <div style="margin-top: 80px;"></div>
    <div style="position: absolute; margin-top: -15px; margin-left: 10%; border-radius: 100px; width: 80%; height: 2px; background-color: #cfcfcf;"></div>
    <button onclick="settings()" type="button" class="blueButton button btn-context">Settings</button>
    <button onclick="logout()" type="button" class="redButton button btn-context">Logout</button>
    <div style="margin-top: 20px;"></div>
</div>

<div class="chats">
    <div style="margin-top: 20px;"></div>
</div>

<div class="context-menu">

</div>

<div class="current-chat" style="background-color: #fafafa">

    <div class="current-chat-empty">
        <label class="current-chat-empty-label">Open any chat</label>
    </div>

    <div class="current-chat-content" style="background-color: #ffffff">
        <div class="chat-info" style="background-color: #fafafa">
            <img class="chat-info-img" id="chat-info-img" src="static/img/bg.jpg">
            <input onchange="uploadChatImage(this)" class="chat-info-img-file" id="chat-info-img-file" type="file" size="48" accept="image/*">
            <input onkeydown="changeChatName(this)" type="text" class="chat-info-name" id="chat-info-name">
        </div>
        <div class="current-chat-messages" id="current-chat-messages"></div>

        <div class="reply-message">
            <div onclick="replyMessage = [-1];" class="reply-message-close"></div>
            <p class="reply-message-text"></p>
            <img class="reply-message-img" id="reply-message-img" src="https://yetion.ru:4433/files/standard.jpg">
        </div>

        <input onkeydown="sendMessage(this)" type="text" class="form-control message-area" name="password" placeholder="Type a message">
        <button onclick="sendMessage('send')" type="button" class="message-area-send btn btn-primary">Send</button>
        <span class="message-area-chars" >0/2000</span>
    </div>
</div>

<div class="loading">
    <img src="static/img/logo.png">
    <label>{{ randomFunMessage_loading }}</label>
</div>