* {
    --btn-text-color: #000;
    --btn-text-color-hover: #fff;

    --red-btn-text-color: #ef5350;
    --blue-btn-text-color: #298cf6;
}

.button {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: transparent;
    border-color: transparent;
    border-radius: 16px;
}

.redButton {
    color: var(--btn-text-color);
}

.redButton:hover {
    background: var(--red-btn-text-color);
    color: var(--btn-text-color-hover);
}

.blueButton {
    color: var(--btn-text-color);
}

.blueButton:hover {
    background: var(--blue-btn-text-color);
     color: var(--btn-text-color-hover);
}